# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\DELL\Dropbox\java\product_demo_intern\social-listening\.idea/dataSources/
/dataSources.local.xml
